@CHARSET "UTF-8";




#active{
	width:auto;
	height:300px;
	border:2px solid #ccc;
	font-size:12px;
}

#active h2{
	text-indent:0;
	text-align:center;
}

#active p{
	text-align:center;
	padding:5px;
}