@CHARSET "UTF-8";
*{
	padding:0;
	margin:0;
}
body{
	width:960px;
	margin:0 auto;
	background:#eee;
	font-size:14px;
}

ul{
	list-style-type:none;
}

h2{
	font-size:14px;
	background:#f60;
	height:25px;
	line-height:25px;
	text-indent:10px;
}
#header{
	width:auto;
	height:150px;
	border:2px solid #ccc;
	margin:10px 0;
	
}
#header ul{
	text-align:right;
	padding:30px 50px 0 0;
}
#header ul li{
	display:inline;
}

#header ul li strong.noread {
	background:url(../../images/read.gif) no-repeat left center;
	padding:0 0 0 18px;
}

#header ul li strong.read {
	background:url(../../images/meg.gif) no-repeat left center;
	padding:0 0 0 18px;
}

#header ul li a{
	text-decoration:none;
	color:#333;
}



#header ul li a:hover{
	color:#f00;
	text-decoration:underline;
}

#header ul li a.manage{
	color:#06f;
}

#header ul li.skin {
	position:relative;
}
#header ul li dl#skin {
	position:absolute;
	top:14px;
	left:-30px;
	border:1px dashed #333;
	width:80px;
	background:#fff;
	text-align:center;
	padding:5px;
	display:none;
}



#header h1{
	font-size:12px;
	width:210px;
	height:39px;
	background:url(../../images/logo1.jpg) no-repeat;
	margin:30px 0 0 50px;
}
#header h1 a{
	width:210px;
	height:39px;
	display:block;
	text-indent:-9999px;	
}

#page_num{
	clear:both;
	height:20px;
	position:relative;
	padding:20px 0;
	font-size:12px;
}

#page_num ul{
	position:absolute;
	right:30px;
	height:20px;

}

#page_num ul li{
	float:left;
	width:26px;
	height:20px;

}

#page_num ul li a {
	display:block;
	width:20px;
	height:20px;
	line-height:20px;
	border:1px solid #333;
	text-align:center;
	text-decoration:none;
}

#page_num ul li a:hover,#page_num ul li a.selected {
	background:#666;
	font-weight:bold;
	color:#fff;
}

#page_text{
	clear:both;
	height:20px;
	padding:20px 0;
	font-size:12px;
}

#page_text ul{
	text-align:center;
}

#page_text ul li{
	display:inline;
}

#page_text ul li a {
	color:#333;
}


#member {
	width:auto;
	height:600px;
	border:2px solid #ccc;
	font-size:12px;
}

#member h2 {
	text-indent:0;
	text-align:center;
	height:30px;
	line-height:30px;
}

#member #member_side{
	width:300px;
	height:550px;
	border:1px dashed #999;
	float:left;
	margin:15px;
}

#member #member_side dl{
	width:250px;
	background:red;
	margin:15px auto;
	
}

#member #member_side dl dt{
	height:40px;
	line-height:40px;
	background:#999;
	text-align:center;
	font-weight:bold;
	color:#fff;
}

#member #member_side dl dd{
	height:40px;
	line-height:40px;
	background:#eee;
	text-align:center;
	font-weight:bold;
}

#member #member_side dl dd a{
	text-decoration:none;
	color:#333;
	display:block;
}

#member #member_side dl dd a:hover{
	background:#ccc;
}

#member #member_main{
	width:590px;
	height:550px;
	border:1px dashed #999;
	float:right;
	margin:15px;
}




#footer{
	clear:both;
	width:auto;
	height:60px;
	text-align:center;
	padding:10px 0 0 0;
}

#footer p{
	font-size:12px;
	letter-spacing:1px;
	padding:5px 0 0 0;
}

#footer p span{
	color:#06f;
}