@CHARSET "UTF-8";

#member #member_main dl{
	width:90%;
	margin:15px auto;
}

#member #member_main dl dd{
	margin:5px;
	line-height:150%;
}

#member #member_main dl dd input{
	width:70px;
	heigth:20px;
	font-size:12px;
	cursor:pointer;
	margin:auto 30px;
}

#member #member_main dl dd.button{
	text-align:center;
}