@CHARSET "UTF-8";
#photo {
	width:auto;
	min-height:600px;
	border:2px solid #ccc;
	font-size:12px;
}

#photo h2{
	text-indent:0;
	text-align:center;
}

#photo p {
	text-align:center;
	clear:both;
	margin:20px;
}

#photo p a {
	font-size:14px;
	color:#333;
}

#photo dl {
	height:250px;
	width:200px;
	text-align:center;
	float:left;
	margin:15px;
}

#photo dl dd{
	padding:2px 0;
}